<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
  <form>
    <br>
    <label for="teamname">Team Name:</label>
    <input type="text" /><br>
    <br>
    <label for="coach">Coach:</label>
    <input type="text" /><br>
    <br>
    <label for="query">Point Guard:</label>
    <input type="text" /><br>
    <br>
    <label for="query">Shooting Guard:</label>
    <input type="text" /><br>
    <br>
    <label for="query">Power Forward:</label>
    <input type="text" /><br>
    <br>
    <label for="query">Center:</label>
    <input type="text" /><br>
    <br>
    <input type="submit" value="Submit">
  </form>
 </body>
</html>
